
@{
    ViewBag.Title = "Error";
}

<div class="jumbotron">
    <div class="container">
        <div class="row">
            <h2 class="text-danger" style="color:red">No text sent</h2>
            <h3>
                <span>Error: Wrong passcode. Click <a href="@Url.Action("Index", "Home")">here</a> to go back</span>
            </h3>
        </div>
    </div>
</div>


