
@{
    ViewBag.Title = "Index";
    if (IsPost)
    {
        string number = Request.Form["phone"];
        string user = Request.Form["user"];
        
        if (number.Length == 10)
        {
            if(number.Substring(0, 2) != "+1")
            {
                number = "+1" + number;
            }
        }
        if(number.Length == 12)
        {
            int val = 5;
            if(int.TryParse(user,out val))
            {
                ViewBag.reg[number] = new SMSClient.Models.SurveyInstance(val,number);
            }
        }
    }
}

<h2>Currently Active clients</h2>
@foreach (var x in ViewBag.current)
{
    <div style="color:gray">
        @x<br>
    </div>
}

<form method="post">
    <fieldset>
        <legend>Add User</legend>
        <div>
            <label for="phone">Phone Number:</label>
            <input type="text" name="phone" value="" />
            <label for="user">User Number:</label>
            <input type="text" name="user" value="5" />
        </div>
        <div>
            <label>&nbsp;</label>
            <input type="submit" value="Submit" class="submit" />
        </div>
    </fieldset>
</form>